@import url('../utilities/responsive.css');

.advantage {
    background-color: #1A1917;
}

/* Grid layout for the advantages content (2 columns) */
.content-advantage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Container for the advantages section */
.container-advantage {
    text-align: center;
    /* margin: 15px; */
    width: 100%;
}

/* Adds a right border to the bottom items container */
.items-bottom {
    width: 100%;
    border-right: 3px solid var(--primary);
}

/* Adds a bottom border to specific items */
.border-bottom {
    border-bottom: 3px solid var(--primary);
}

/* Styling for individual advantage items */
.item-advantage {
    margin: 15px 15px 0 15px;
    padding: 15px 15px 0 15px;
    height: 227px;
}

/* Styling for the advantage icons */
.icon-advantage {
    font-size: 44px;
    color: var(--primary);
}

/* Styling for the advantage item titles */
.title-advantage__parent {
    text-align: right;
    width: 80%;
    margin: 40px auto 10px auto;
}

.title-advantage__text-advantage--word {
    color: var(--primary);
    margin-bottom: 0;
}

.title-advantage__text{
    color: var(--light);
    margin-top: 0;
    font-size: 35px;
}

.title-item__text {
    font-weight: bold;
    color: var(--primary);
}

/* Styling for the advantage item descriptions */
.description-item__advantage {
    color: var(--light);
}